<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Professors</title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="css/theme.css">
</head>
<body>
    <h1>All Professors </h1>
   
   
    
      
    <% for(var i=0; i<data.length;i++){ %>
       
        <div class="each" >
            <h2> Name-> <%= data[i].name %></h2>
            <p>Institute -><%=  data[i].institute %></p>
            <p>Gender -><%=  data[i].gender %></p>
            <p>Contact Number -> <%=  data[i].number %></p>
            <p>Qualifications -> <%=  data[i].qualification %></p>
            <form method="POST" action="/viewProfessors/<%= data[i]._id%>?_method=DELETE" >
                <button class="btn btn-danger" >Delete</button>
            </form>
        </div>
      
    <% } %>
</body>
</html>